{% extends "base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
    {% else %}
    <p>Welcome, new user. Please log in.</p>
    {% endif %}
    {% for group_for in request.user.groups.all %}
        {% if group_for.name == 'police' %}
            <p>police</p>
        {% elif group_for.name == 'investigator' %}
            <p>investigator</p>
        {% endif %}
    {% endfor %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome {{ user.username }} </h1>
        <p class="lead">
            This is <b>Dutch Police Internet Forensic Project</b> . In this project will implement a web-based application for Dutch police for internet forensics which enable police officers to access this information from any site by using Internet access.
        </p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
            <a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button">Signup</a>
            <a class="btn btn-primary btn-lg" href="{% url 'show' %}" role="button">Cases and Artifacts</a>
            <!--<button type="logout" class="btn btn-dark btn-lg">Logout</button>
            <button type="/login" class="btn btn-dark btn-lg">Login</button>
            <a href="{% url 'login' %}">Login</a>-->
        </p>
    </div>

{% endblock content %}